.Contact {
    padding-top: 150px;
    padding-bottom: 50px;

    .container {
        height: 70vh;
        display: flex;
        align-items: center;

        @media screen and (max-width: 700px) {
            height: auto;
        }

        .row {
            height: 60vh;
            position: relative;
            background-color: var(--bg-submain);
            padding: 15px;
            border-radius: 10px;
            max-width: 1100px;
            width: 100%;
            margin: 0 auto;
            border: 1px solid var(--cr-border);

            @media screen and (max-width: 700px) {
                height: auto;
                max-width: 500px;
                width: 100%;
                padding: 0;
                border: 0;
            }

            .colLeft {
                position: absolute;
                background-color: var(--bg-main);
                border: 1px solid var(--cr-border);
                box-shadow: 0 0 10px var(--cr-shadow);
                width: 350px;
                top: -50px;
                left: 30px;
                height: 76vh;
                border-radius: 10px;
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @media screen and (max-width: 800px) {
                    left: 20px;
                    width: 310px;
                }

                @media screen and (max-width: 700px) {
                    position: relative;
                    left: auto;
                    top: auto;
                    height: auto;
                    width: 100%;
                }

                .anamtion {
                    max-width: 130px;
                    margin-top: -20px;
                }

                .desc {
                    font-size: 13px;
                    color: var(--cr-text-muted);
                    margin-bottom: 20px;
                    display: block;
                    max-width: 350px;
                    width: 100%;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        &:nth-child(2) {
                            span {
                                text-transform: lowercase;
                            }
                        }

                        &:nth-child(1) i::after {
                            background-color: #009688;
                        }

                        &:nth-child(2) i::after {
                            background-color: #FF9800;
                        }

                        &:nth-child(3) i::after {
                            background-color: #E91E63;
                        }

                        &:nth-child(1) i:hover {
                            color: #009688;
                        }

                        &:nth-child(2) i:hover {
                            color: #FF9800;
                        }

                        &:nth-child(3) i:hover {
                            color: #E91E63;
                        }

                        i {
                            width: 34px;
                            height: 34px;
                            color: white;
                            display: grid;
                            place-items: center;
                            border-radius: 50%;
                            font-size: 20px;
                            cursor: pointer;
                            position: relative;
                            overflow: hidden;
                            z-index: 1;
                            transition: .2s ease;

                            &::after {
                                z-index: -1;
                                content: "";
                                position: absolute;
                                inset: 0;
                                transition: .3s ease;
                            }

                            &:hover {
                                &::after {
                                    scale: 0;
                                }

                                font-size: 30px;
                            }
                        }
                    }
                }

                .sochailmedai {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    gap: 17px;

                    i {
                        width: 34px;
                        height: 34px;
                        color: white;
                        display: grid;
                        place-items: center;
                        border-radius: 50%;
                        font-size: 20px;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        z-index: 1;
                        transition: .2s ease;

                        &::after {
                            z-index: -1;
                            content: "";
                            position: absolute;
                            inset: 0;
                            transition: .3s ease;
                        }

                        &:nth-child(1)::after {
                            background-color: #2196F3;
                        }

                        &:nth-child(2)::after {
                            background-color: #ff4105;
                        }

                        &:nth-child(3)::after {
                            background-color: #006064;
                        }

                        &:nth-child(1):hover {
                            color: #2196F3;
                        }

                        &:nth-child(2):hover {
                            color: #ff4105;
                        }

                        &:nth-child(3):hover {
                            color: #006064;
                        }

                        &:hover {
                            &::after {
                                scale: 0;
                            }

                            font-size: 30px;
                        }
                    }
                }
            }

            .colRight {
                height: 100%;
                display: grid;
                grid-template-columns: 380px 1fr;

                @media screen and (max-width: 800px) {
                    grid-template-columns: 330px 1fr;
                }

                @media screen and (max-width: 700px) {
                    grid-template-columns: 1fr;
                    padding: 15px;
                }

                .box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 15px;
                    border-radius: 10px;

                    @media screen and (max-width: 700px) {
                        padding: 0;
                        margin-top: 20px;
                    }

                    input {
                        width: 100%;
                        padding: 14px;
                        background-color: var(--bg-main);
                        border-radius: 3px;
                        border: 1px solid transparent;
                        transition: .3s ease;

                        &:focus {
                            box-shadow: 0 0 10px var(--cr-main);
                            border: 1px solid var(--cr-main);
                        }
                    }

                    >div {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        width: 100%;
                        margin-bottom: 10px;

                        @media screen and (max-width: 800px) {
                            flex-direction: column;
                        }

                        @media screen and (max-width: 700px) {
                            flex-direction: row;
                        }
                    }

                    textarea {
                        width: 100%;
                        margin-top: 10px;
                        height: 100px;
                        padding: 14px;
                        background-color: var(--bg-main);
                        border-radius: 3px;
                        border: 1px solid transparent;
                        transition: .3s ease;
                        resize: none;

                        &:focus {
                            box-shadow: 0 0 10px var(--cr-main);
                            border: 1px solid var(--cr-main);
                        }
                    }

                    button {
                        margin-right: auto;
                    }
                }
            }
        }
    }
}